<style>
    /*dashboard start css*/
    h1 {
        background-color: #323596;
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 3%;
        justify-content: space-between;
        margin-top: 0%;
        margin-right: 0% !important;
    }

    h1:hover {
        background-color: white;
        color: #323596;
        border: 1px solid #323596;
    }

    .new{
        display: flex;
        flex-wrap: wrap;
    }

    h1:visited {
        color: #ccc;
    }

    h1:visited:hover {
        background-color: #888;
        color: black
    }

    .card-img-top {
        height: 90%;
        width: 90%;
        padding: 2%;
        margin-left: 5%;
    }

    .dashboard-games {
        padding: 3%;
        background-color: #323596;
        color: white;
    }

    .dashboard-games select {
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background-color: #323596;
        color: white;
        width: 90%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        border: none;
    }

    .dashboard-games select option {
        background-color: #323596;

    }

    .container.new {
        display: flex;
        gap: 20px;
        padding: 2%;
        justify-content: center;
        align-items: flex-start;
        /* Keep items aligned at the top of the container */
        margin-top: 2%;
    }

    @media screen and (max-width: 768px) {
        .container.new {
            flex-wrap: wrap;
            /* Allow items to wrap to a new row on smaller screens */
            padding: 2%;
            /* Adjust padding for smaller screens */
        }

        .col-12 {
            text-align: center;
            /* Center align columns on smaller screens */
        }
    }

    @media screen and (max-width:992px) {
        .dashboard-games {
            padding: 1%;
        }

        .new {
            text-align: center !important;
        }
    }

    @media screen and (min-width:992px) {
        .new {
            margin-left: 6% !important;
        }
    }

    /*dashboard css end*/
</style>

<!--dashboard start-->

<div class="container new">
    <div class="col-12 col-lg-6 col-xl-2">
        <a href="{{ url_for('dashboard') }}" style="text-decoration: none">
            <h1 class="p-2">Dashboard</h1>
        </a>
    </div>
    <div class="col-12 col-lg-6 col-xl-2 mb-1">
        <div class="dashboard-games">
            <select onchange="location = this.value;">
                <option value="{{ url_for('dashboard') }}" selected>Games</option>
                <option value="{{ url_for('payment_orders') }}">Payments</option>
                <option value="{{ url_for('send_request') }}">Requests</option>
            </select>
            <i class="fa-solid fa-caret-down"></i>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-2">
        <a href="{{ url_for('edit_profile') }}" style="text-decoration: none">
            <h1 class="p-2">Profile</h1>
        </a>
    </div>
    <div class="col-12 col-lg-6 col-xl-2">
        <a href="{{url_for('logout')}}" style="text-decoration: none">
            <h1 class="p-2">Logout</h1>
        </a>
    </div>
</div>
<!--Dashboard end-->