<style>
    /* footer */
    footer {
        margin-top: 20px;
    }

    .quickLinks {
        margin-top: 20px;
    }

    .list-unstyled>li {
        color: grey;
    }

    .quickLinks a {
        text-decoration: none;
        color: grey;
    }

    .quickLinks a:hover {
        text-decoration: none;
        color: black;
    }

    .socialLinks {
        font-weight: bold;
        color: lightseagreen;
    }


    @media (max-width:768px) {
        .left-logo {
            width: 80%;
            margin-left: 10%;
        }
    }


    /*fooooteerrrr*/

    footer {
        margin-top: 20px;
    }

    .quickLinks {
        margin-top: 20px;
    }

    .list-unstyled>li {
        color: grey;
    }

    .quickLinks a {
        text-decoration: none;
        color: grey;
    }

    .quickLinks a:hover {
        text-decoration: none;
        color: black;
    }

</style>

<footer class="foot py-4">
    <div class="container">
        <div class="row footer_row justify-content-between">
            <div class="col-12 col-md-4 mb-4">
                <img src="{{url_for('static', filename='images/logo.webp')}}" alt="Logo" class="img-fluid mb-3" />
                <p>
                    <b>Unite, Compete, Excel - Our Nation's Passion for Sports</b>
                </p>
                <div class="socialLinks d-flex flex-column">
                    <span><i class="fa fa-envelope"> </i> Email:
                        <a href="mailto:doctorsolympiad2023@gmail.com" style="text-decoration: none;">doctorsolympiad2023@gmail.com</a></span><br />
                    <span><i class="bi bi-telephone"></i> Phone: <a href="tel:9759434567" style="text-decoration: none;">9759434567</a></span><br />
                    <span><i class="bi bi-telephone"></i> Mobile: <a href="tel:9759634567" style="text-decoration: none;">9759634567</a></span><br />
                </div>
                <div class="message d-flex gap-1">
                    <a href="https://api.whatsapp.com/send?phone=9032229707&#038;text=I&#039;d%20like%20to%20be%20a%20part%20of%20*Doctors%20Sports%20Olympaid%202023*.%20Please%20share%20further%20details." target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-whatsapp text-success"></i>
                    </a>
                    <a href="https://instagram.com/doctors_olympiad_2023" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-instagram text-danger"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <h2 style="background-color: #fff">Get In Touch</h2>
                <p>Indian Medical Association VIJAYAWADA Branch</p>
                <span>DOCTORS SPORTS ACADEMY D.No.14: Beside GEMS Public School</span>
                <span>Kaza Village, Mangalagiri Mandal, Guntur District, Andhra
                    Pradesh</span>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <h2 style="background-color: #fff">Quick Links</h2>
                <ul class="list-unstyled quickLinks">
                    <li><a href="{{url_for('terms_conditions')}}">Terms & Conditions</a></li>
                    <li><a href="{{url_for('privacy_policy')}}">Privacy Policy</a></li>
                    <li><a href="{{url_for('refund_returns')}}">Return & Refund Policy</a></li>
                    <li><a href="{{url_for('refund_returns')}}">Cancellation Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="subFooter text-center bg-primary text-white py-1">
    <h4>
        <a href="https://www.codegnan.com">Designed By Codegnan &#169; All Right Reserved</a>

    </h4>
</div>



