{% extends "base.html" %}

{% block style %}
  <style>
    .hidden {
      display: none;
  }
#border{
  border: 2px solid black;
  margin-top:2% ;
  border-radius: 15px;
}
input{
  border-color: black !important;
}
.check-fields{
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 5%;
}
@media(max-width:768px){
  .check-fields{
    flex-direction: column;
  }
}
.name{
  font-size: 3rem;
}
    section {
      display: flex;
      flex-direction: row;
    }

    body {
      background-color: #ecf8ff;
    }

    #imp {
      background-color: #ecf8ff !important;
    }

    #good {
      border: none !important;
      border-color: #ecf8ff !important;
    }

    h1 {
      background-color: #ecf8ff;
      font-size: 70px;

      color: #1c244b;
    }

    h2 {
      background-color: #ecf8ff;
    }

    .foot {
      background-color: #fff;
    }

    .hidden {
      display: none;
    }
  </style>
  <style>
    /* Center the buffering animation in the middle of the page */
    #buffering {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
</style>
{% endblock %}


{% block content %}
 
  <nav aria-label="breadcrumb" style="margin-left: 5%; margin-top: 3%">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Games</a></li>
      <li class="breadcrumb-item"><a href="#">Individual</a></li>
      <li class="breadcrumb-item active" aria-current="page">Badminton</li>
    </ol>
  </nav>
  <section class="gamesSection">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-6 col-lg-6">
          <h1>{{game}}</h1>
          <form method="POST">
      
            <label for="checkbox0">  {{ "Men's" if gender=='Male' else "Women's" }} single</label>
            {% if c1 is defined %}
            <input type="checkbox" id="checkbox0" name="ch1" value="{{'Mens Single' if gender=='Male' else 'Womens Single'}}"  checked disabled><br>
            {% else %}
            <input type="checkbox" id="checkbox0" name="ch1" value="{{'Mens Single' if gender=='Male' else 'Womens Single'}}"><br>
            {% endif %}
            {% if c2 is defined %}
            <label for="checkbox2"> {{ "Men's" if gender=='Male' else "Women's" }} Doubles</label>
            <input type="checkbox" id="checkbox2" name="ch2" value="{{'Mens Doubles' if gender=='Male' else 'Womens Doubles'}}" checked disabled>
            <div id="inputField2">
              <label>Player 2 unique id </label><br/>
              <input type="text" id="input1" value="{{c2[0]}}" readonly><br/>
              <label>Player 2 Name</label><br/>
              <input type="text" id="output1" value="{{c2[1]}}" readonly><br/>
              <label>Player 2 Email</label><br/>
              <input type="text" id="output21" value="{{c2[2]}}" readonly>
            </div>
            <br>
            {% elif c3 is defined %}
            <label for="checkbox2"> {{ "Men's" if gender=='Male' else "Women's" }} Doubles</label>
            <input type="checkbox" id="checkbox2" name="ch2" value="{{'Mens Doubles' if gender=='Male' else 'Womens Doubles'}}" checked disabled>
            <div id="inputField2">
              <label>Player 2 unique id </label><br/>
              <input type="text" id="input1" value="{{c3[2] if c3[2]!=None else 'Not registered'}}" readonly><br/>
              <label>Player 2 Name</label><br/>
              <input type="text" id="output1" value="{{c3[3] if c3[3]!=None else 'Not registered'}}" readonly><br/>
              <label>Player 2 Email</label><br/>
              <input type="text" id="output21" value="{{c3[4] if c3[4]!=None else 'Not registered'}}" readonly><br/>
              <label>Status</label><br/>
              <input type="text" id="output31" value="{{c3[-1]}}" readonly><br/>
              <a href="{{url_for('removeindividual',tid=c3[1],game=game)}}" class="btn btn-primary">Remove</a>
            </div>
            <br>
            {% else %}
            <label for="checkbox2"> {{ "Men's" if gender=='Male' else "Women's" }} Doubles</label>
            <input type="checkbox" id="checkbox2" name="ch2" value="{{'Mens Doubles' if gender=='Male' else 'Womens Doubles'}}">
            <div id="inputField2" class="hidden">
              <label>Enter email or unique id of 2nd Player</label><br/>
              <input type="text" id="input1"><br/>
              <label>Details</label><br/>
              <input type="text" id="output1" ><br/><br/>
              <button id="getDetailsButton1" class="btn btn-primary" onclick="autoSubmit(1)">get details</button>
            </div>
            <br>
            {% endif %}


            <label for="checkbox1">Mixed Doubles</label>
            {% if c4 is defined %}
            <input type="checkbox" id="checkbox1" checked disabled>
            <div id="inputField1">
              <label>Player 2 unique id </label><br/>
              <input type="text" id="input2" value="{{c4[0]}}" readonly><br/>
              <label>Player 2 Name</label><br/>
              <input type="text" id="output2" value="{{c4[1]}}" readonly><br/>
              <label>Player 2 Email</label><br/>
              <input type="text" id="output22" value="{{c4[2]}}" readonly>
            </div><br />
            {% elif c5 is defined %}
            <input type="checkbox" id="checkbox1" checked disabled>
            <div id="inputField1">
              <label>Player 2 unique id </label><br/>
              <input type="text" id="input2" value="{{c5[2] if c5[2]!=None else 'Not registered'}}" readonly><br/>
              <label>Player 2 Name</label><br/>
              <input type="text" id="output2" value="{{c5[3] if c5[3]!=None else 'Not registered'}}" readonly><br/>
              <label>Player 2 Email</label><br/>
              <input type="text" id="output23" value="{{c5[4] if c5[4]!=None else 'Not registered'}}" readonly><br/>
              <label>Status</label><br/>
              <input type="text" id="output32" value="{{c5[-1]}}" readonly><br/>
              <a href="{{url_for('removeindividual',tid=c5[1],game=game)}}" class="btn btn-primary">Remove</a>

            </div><br />
            {% else %}
            <input type="checkbox" id="checkbox1">
            <div id="inputField1" class="hidden">
              <label>Enter email or unique id of 2nd Player</label><br/>
              <input type="text" id="input2" placeholder="Enter email or unique id"><br/>
              <label>Details</label><br/>
              <input type="text" id="output2"><br><br>
              <button id="getDetailsButton2" class="btn btn-primary" onclick="autoSubmit(2)">get details</button>

            </div><br />
            {% endif %}
            <br>
          </form>
          <!-- Divs to hold the input fields -->

          <div id="buffering">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
          </div>

           </div>
        <div class="col-12 col-md-6 col-lg-6">
          <img src="{{url_for('static',filename='images/imagame.webp')}}" height="100%" width="100%" class="mt-1" />
        </div>

      </div>

    </div>



  </section>
{% endblock %}

  {% block script %}
          <script>
            // Get references to the checkboxes and input fields
            const checkbox1 = document.getElementById('checkbox1');
            const checkbox2 = document.getElementById('checkbox2');
            const inputField1 = document.getElementById('inputField1');
            const inputField2 = document.getElementById('inputField2');

            // Add event listeners to the checkboxes
            checkbox1.addEventListener('change', function () {
              // If checkbox1 is checked, show its corresponding input field
              if (checkbox1.checked) {
                inputField1.classList.remove('hidden');
              } else {
                inputField1.classList.add('hidden');
              }
            });

            checkbox2.addEventListener('change', function () {
              // If checkbox2 is checked, show its corresponding input field
              if (checkbox2.checked) {
                inputField2.classList.remove('hidden');
              } else {
                inputField2.classList.add('hidden');
              }
            });

          </script>
  <script>
    const checkbox0 = document.getElementById('checkbox0');
    checkbox0.addEventListener('change', function () {
      // If checkbox1 is checked, show its corresponding input field
      if (confirm('Are you sure you want to register to Mens Single?')) {
      if (checkbox0.checked) {
        var x=document.getElementsByClassName("checkbox0");
        $("#buffering").show();
        $.ajax({
          url: "{{url_for('registeredgame',game=game)}}",
          method: 'POST',
          data: {input:"{{bs}}"
              },
          success: function(response) {
            $("#buffering").hide();
            alert(response.message)
            location.href = "{{url_for('registeredgame',game=game)}}";

          },
          error: function(error) {
            $("#buffering").hide();
            alert('Error in registration try again later')
              console.error(error);
          }
      });
      }
    }
    else{
      checkbox0.checked=false

    }
    });
  

  </script>

<script>
  function autoSubmit(inputNumber) {
      $(`#getDetailsButton${inputNumber}`).prop('disabled',true)
   
      const inputValue = document.getElementById(`input${inputNumber}`).value;
      var category = '{{ds}}';
      if (inputNumber==2){
        category='Mixed Doubles';
      }
      $.ajax({
          url: "{{url_for('individual_update',game=game)}}",
          method: 'POST',
          data: {inputValue: inputValue,
            gender:"{{gender}}",
            category:category
              },
          success: function(response) {
              document.getElementById(`output${inputNumber}`).value = response.outputValue;
              if(response.outputValue== "Id not found"|| response.outputValue=="User Registered to other team" || response.outputValue=='You cannot add yourself.' || response.outputValue=='Cannot add other gender in team' || response.outputValue=="Cannot add same gender in team" || response.outputValue=="User doesn't belong to your age group"){
                alert(response.outputValue)
                $(`#getDetailsButton${inputNumber}`).prop('disabled',false)
              }
              else {  
                $(`#input${inputNumber}`).prop("readonly",true)
                $(`#output${inputNumber}`).prop("readonly",true)

                const inviteButton = `<button id="send${inputNumber}"  class="btn btn-primary" onclick="send_invite(${inputNumber})">Invite</button>`;
                $(`#getDetailsButton${inputNumber}`).replaceWith(inviteButton);
              }

          },
          error: function(error) {
              // Handle errors if any
              console.error(error);
          }
      });
  }
</script>

<!-- <script>
  function isCheckboxChecked(ele) {
    var isTicked = document.getElementById(ele).checked;
    return isTicked;
  }
  $(document).ready(function() {
    // Handle form submission using AJAX
    $("#formregister").click(function(event) {
      event.preventDefault(); // Prevent default form submission
      var input1 = $("#input1").val();
      var output1 = $('#output1').val();
      var input2 = $('#input2').val();
      var output2 = $('#output2').val();
      var c1=isCheckboxChecked('checkbox0');
      var c2=isCheckboxChecked('checkbox1');
      var c3=isCheckboxChecked('checkbox2');


      if(output1== "Id not found"|| output1=="User Registered to other team" || output1=='You cannot add yourself.' || output1=='Cannot add other gender in team' || output1=='age greater than 50 cannot add' || output1=='age less than 50 cannot add' || output2== "Id not found"|| output2=="User Registered to other team" || output2=='You cannot add yourself.' || output2=='Cannot add other gender in team' || output2=='age greater than 50 cannot add' || output2=='age less than 50 cannot add'){
        alert(output1)
      
      }
      else{

             
      $("#formregister").prop("disabled", true);
      $("#buffering").show();
      $.ajax({
        type: "POST",
        url: "{{url_for('registeredgame',game=game)}}",
        data: {
          singles:c1,
          doubles:c2,
          mixed:c3,
          input1 : input1,
          output1 : output1,
          input2:input2,
          output2 : output2,
        },
        success: function(response) {
          
          
          $("#buffering").hide();
          $("#formregister").prop("disabled", false);


          
        },
        error: function(err) {
          // Hide buffering animation
          $("#buffering").hide();
          console.log(err);
          $("#formregister").prop("disabled", false);


          // Enable the "Generate OTP" button
          //$("#generateOTP").prop("disabled", false);
        }
      });
              
    }
    });
    
  });
</script>-->
<script>
  function send_invite(inputNumber) {
    const inputValue = $(`#input${inputNumber}`).val();
    var category = '{{ds}}';
    if (inputNumber==2){
      category='Mixed Doubles';
    }
    


    // Disable the "Invite" button and show buffering indicator
    $(`#send${inputNumber}`).prop("disabled", true);
    $("#buffering").show();

    // Send AJAX request to send invitation
    $.ajax({
        url: "{{url_for('registeredgame',game=game)}}",
        method: 'POST',
        data: {
            input: inputValue,
            category:category,

        },
        success: function(response) {
            // Enable the "Invite" button and hide buffering indicator
            $(`#send${inputNumber}`).prop("disabled", false);
            $("#buffering").hide();

            // Handle response messages and redirection
            if (response.message != 'Success') {
                alert(response.message);
                location.href = "{{url_for('registeredgame',game=game)}}";
            } else {
                alert('Invitation sent');
                location.href = "{{url_for('registeredgame',game=game)}}";
            }
        },
        error: function(error) {
            // Enable the "Invite" button and hide buffering indicator
            $(`#send${inputNumber}`).prop("disabled", false);
            $("#buffering").hide();

            // Handle errors if any
            console.error(error);
        }
    });
}
</script>

{% endblock %}

