{% extends "base.html" %}

{% block style %}

<style>
	.our-team {
		padding: 20px 15px 30px;
		margin-bottom: 5%;
		border-radius: 15px;
		text-align: center;
		min-height: 30vh;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.our-team .pic {
		display: inline-block;
		width: 100%;
		height: 100%;
		background: #fff;
		padding: 10px;
		margin-bottom: 25px;
		transition: all 0.5s ease 0s;
	}

	.heading {
		text-align: center;
		margin: 3% 0%;
		color: #23527c;
	}

	.our-team:hover .pic {
		color: #17bebb;
		border-radius: 50%;
	}

	.pic i {
		font-size: 5rem;
		border-radius: 50%;
		color: #707070;
	}

	.our-team .title {
		display: block;
		font-size: 20px;
		font-weight: bold;
		color: #2e282a;
		text-transform: uppercase;
		margin: 0 0 7px 0;
	}

	.our-team .post {
		display: block;
		font-size: 15px;
		color: #333;
		text-transform: capitalize;
		margin-bottom: 15px;
	}

	.our-team .social {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.our-team .social li {
		display: inline-block;
		margin-right: 5px;
	}

	.our-team .social li a {
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 50%;
		font-size: 15px;
		color: #17bebb;
		border: 1px solid #17bebb;
		transition: all 0.5s ease 0s;
	}

	.our-team:hover .social li a {
		background: #17bebb;
		color: #fff;
	}

	.sec1 img {
		margin-top: 5%;
		width: 40%
	}

	@media only screen and (max-width: 990px) {
		.our-team {
			margin-bottom: 30px;
		}
	}

	@media screen and (max-width: 768px) {
		.sec1 img {
			width: 70%;
		}

		.heading {
			font-size: 1.2rem;
			color: #23527c;
			font-weight: bold;
		}
	}

	.organising {
		padding: 5%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 19px;
	}

	.div1 {
		border: 1px solid rgba(0, 0, 0, 0.4);
		box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
		padding: 3% 4%;
		margin-right: 3%;
		line-height: 3;
		border-radius: 5px;
		font-weight: bold;
	}
</style>

{% endblock %}

{% block content %}

<section class="gamesSection">
	<section class="sec1" style="text-align: center">
		<img src="{{url_for('static',filename='images/IMA-NATIONAL-SPORTS-MEET-2023-LOGO.webp')}}" width="25%" />
	</section>
	<section class="main">
		<h2 class="heading">NATIONAL CO-ORDINATION COMMITTEE</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #ffecc7">
						<div style="background-color: #ffecc7" class="pic">
							<img src="{{url_for('static',filename='committee/Dr. Ketan Desai.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR. KETAN DESAI</h3>
						<span class="post">CHIEF PATRON</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #ffd6ca">
						<div style="background-color: #ffd6ca" class="pic">
							<img src="{{url_for('static',filename='committee/Dr Sharad Kr. Agarwal.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR. SHARAD KUMAR AGARWAL</h3>
						<span class="post">PATRON <br>NATIONAL PRESIDENT  IMA</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #e4f8ff">
						<div style="background-color: #e4f8ff" class="pic">
							<img src="{{url_for('static',filename='committee/Dr. R.V. Asokan.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR.R.V.ASHOKAN</h3>
						<span class="post">CHIEF ADVISOR PRESIDENT ELECT<br> IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #e2ffdb">
						<div style="background-color: #e2ffdb" class="pic">
							<img src="{{url_for('static',filename='committee/Dr. Anilkumar J. Nayak.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR. ANIL KUMAR J.NAIK</h3>
						<span class="post">CHIEF COORDINATOR HSG<br>IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #f0ffca">
						<div style="background-color: #f0ffca" class="pic">
							<img src="{{url_for('static',filename='committee/Dr. Shitij Bali.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR.SHITU BALI</h3>
						<span class="post">CO ORDINATOR Hon Fin. Secretary <br> IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #eae4ff">
						<div style="background-color: #eae4ff" class="pic">
							<img src="{{url_for('static',filename='committee/Dr Sri Hari D.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR.D.SRIHARI RAO</h3>
						<span class="post">CONVENOR VICE PRESIDENT <br> IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #dbfffc">
						<div style="background-color: #dbfffc" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. VENKATA CHALAPATI</h3>
						<span class="post">CO CONVENOR Hon. JOINT SECRETARY <br> IMA HQ</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main">
		<h2 class="heading">ADVISORS</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #eae4ff">
						<div style="background-color: #eae4ff" class="pic">
							<img src="{{url_for('static',filename='committee/Dr. Sahajanand P d. Singh.png')}}" alt="" width="40%">
						</div>
						<h3 class="title">DR. SAHAJANAND PRASAD SINGH</h3>
						<span class="post">IMM. PAST PRESIDENT <br> IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #dffdff">
						<div style="background-color: #dffdff" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. RAVI WANKHEDKAR</h3>
						<span class="post">PAST PRESIDENT <br> IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #e4f8fe">
						<div style="background-color: #e4f8fe" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. J.A.JAYALAL</h3>
						<span class="post">PAST PRESIDENT <br>IMA HQ </span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #e2ffdb">
						<div style="background-color: #e2ffdb" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. JAYESH M. LELE</h3>
						<span class="post">VICE PRESIDENT <br> IMA HQ </span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #ffdff1">
						<div style="background-color: #ffdff1" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. SAILESH H.SHAW</h3>
						<span class="post">VICE PRESIDENT <br> IMA HQ </span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main">
		<h2 class="heading">MEMBERS</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #ffe4e4">
						<div style="background-color: #ffe4e4" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. VINAY AGARWAL</h3>
						<span class="post">CHAIRMAN AC. COMT  &<br> PAST PRESIDENT  IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #eadbff">
						<div style="background-color: #eadbff" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. V.K. MONGA</h3>
						<span class="post">CHAIRMAN, AAO GAVON CHALE <br> IMA HQ</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #daf2fe">
						<div style="background-color: #daf2fe" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. R.RAMESH BABU</h3>
						<span class="post">DEAN CGP <br> IMA HQ </span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #dffdff">
						<div style="background-color: #dffdff" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. SRIJITH. N. KUMAR</h3>
						<span class="post">CONVENOR, AC. COMT. <br> IMA HQ </span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="our-team" style="background-color: #f7ffe1">
						<div style="background-color: #f7ffe1" class="pic">
							<i class="fa-solid fa-circle-user"></i>
						</div>
						<h3 class="title">DR. GUTTA SURESH</h3>
						<span class="post">VICE PRESIDENT ELECT <br> IMA HQ</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

{% endblock %}

{% block script %}

{% endblock %}
