{% extends "base.html" %}

{% block style %}

<style>
	.gamesSection {
		width: 90%;
		margin:auto;
		padding: 10%;
	}

	@media (max-width:480px) {
		.hideimage {
			display: none;
		}

		.gap-2 .btn {
			width: 100% !important;
		}
	}

	@media (max-width:992px) and (min-width:768px) {

		/* .Doctors {
			margin-top: 50% !important;
		} */

		.gap-2 .btn {
			width: 100% !important;
		}
	}

	@keyframes logoAnimation {
		0% {
			transform: scale(0.9);
		}

		50% {
			transform: scale(1);
		}

		100% {
			transform: scale(0.9);
		}
	}

	.Doctors {
		/* margin-top: 3%; */
		width: 100%;

		background: linear-gradient(to bottom, rgb(231, 248, 251), skyblue, rgb(66, 246, 246));
		opacity: 0.7;
		animation: logoAnimation 2s infinite;
	}

	#log {
		margin-top: 0%;
	}

	.card {
		border: none;
	}

	#hello {
		background-color: white;
		letter-spacing: 0.1em;
		color: navy;
		font-weight: bold !important;
		font-size: 1.8rem !important;
		text-decoration: none;
	}

	.card-header {
		background-color: white;
		text-decoration: none;
	}

	.form-label {
		color: rgb(114, 113, 113);
		font-weight: bold;
		font-size: 15px;
	}

	.btn {
		background-color: navy;
		color: white;
		/* width: 25%; */
	}

	.link {
		text-decoration: none;
		color: grey;
		font-size: 16px;
	}

	.link:hover {
		background-color: navy;
	}
</style>

{% endblock %}



{% block content %}

<section class="gamesSection">
	<div class="container">
		<div class="row" style="display: flex; flex-wrap: wrap;justify-content: center;">
			<div class="col-12 col-md-6 col-lg-6 hideimage">
				<img src="{{url_for('static',filename='images/Doctors-Sports-New.webp')}}" alt="doctors"
					class="Doctors" />
			</div>
			<div class="col-12 col-md-6 col-lg-6" id="log">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center" id="hello">Change Password</h3>
					</div>
					<div class="card-body">
						<form method="POST">
							<div class="mb-3">
								<label for="email" class="form-label">New Password</label>
								<input type="email" name="new_password" class="form-control" id="email" required>
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Confirm Password</label>
								<input type="password" name="confirm_password" class="form-control" id="password" required>
							</div><br />
							<!--                             <div>
                                <input type="checkbox" /> Remember Me
                            </div>--><br />
							<div class="d-grid gap-2">
								<button type="submit" class="btn">Change Password</button>
							</div><br />
							<!-- <a href="{{url_for('forgot_password')}}" class="link">
								<p>Lost Your Password ?</p>
							</a> -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



</section>

{% endblock %}



{% block script %}

<script>
	function validatePasswords() {
		const passwordInput = document.getElementById('new_password');
		const confirmPasswordInput = document.getElementById('confirm_password');
		const passwordMatchMessage = document.getElementById('passwordMatchMessage');

		if (passwordInput.value === confirmPasswordInput.value) {
			passwordMatchMessage.textContent = ''; // Clear the message
			confirmPasswordInput.setCustomValidity(''); // Clear any custom validity
		} else {
			passwordMatchMessage.textContent = 'Passwords do not match.';
			confirmPasswordInput.setCustomValidity('Passwords do not match.');
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		const confirmPasswordInput = document.getElementById('confirm_password');

		confirmPasswordInput.addEventListener('input', validatePasswords);

		// Reset error message when the confirm password input field loses focus
		confirmPasswordInput.addEventListener('blur', function () {
			const passwordMatchMessage = document.getElementById('passwordMatchMessage');
			passwordMatchMessage.textContent = '';
		});
	});


</script>

<script>
	function validatePassword() {
		const passwordInput = document.getElementById('new_password');
		const passwordMessage = document.getElementById('passwordMessage');
		const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z]).{8,}$/;

		if (regex.test(passwordInput.value)) {
			passwordMessage.textContent = ''; // Clear the message
			passwordInput.setCustomValidity(''); // Clear any custom validity
		} else {
			if (passwordInput.value.length < 8) {
				passwordMessage.textContent = 'Password must contain at least one lowercase letter, one uppercase letter, one special character.';
			} else {
				passwordMessage.textContent = '';
			}
			passwordInput.setCustomValidity('Password requirements not met.');
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		const passwordInput = document.getElementById('new_password');
		passwordInput.addEventListener('input', validatePassword);

		// Reset error message when the input field loses focus
		passwordInput.addEventListener('blur', function () {
			const passwordMessage = document.getElementById('passwordMessage');
			passwordMessage.textContent = '';
		});
	});


</script>

{% endblock %}
